body {
    background-color: #555555;
    font-family     : Arial, Helvetica, sans-serif;
    margin          : 0;
    padding         : 0;
    background      : #eaeced;
}

.unique-header {
    position  : fixed;
    height    : 80px;
    width     : 100%;
    z-index   : 100;
    padding   : 0 20px;
    background: #303b97;
    /* Ensure a background color if needed */
}

.allin {
    padding-top: 200px;
    /* Adjust padding-top to account for the height of the fixed navbar */
}

.container {
    margin-left: 310px;
    width      : 83%;
    max-width  : 2500px;
}

.container ul {
    margin-left: 200px;
    list-style : none;
    padding    : 0;
    display    : flex;
    flex-wrap  : wrap;
}

.item-container {
    position                  : relative;
    overflow                  : hidden;
    margin-bottom             : 20px;
    margin-right              : 10px;
    margin-left               : 5px;
    border                    : none;
    border-top-right-radius   : 15px;
    border-top-left-radius    : 15px;
    border-bottom-left-radius : 15px;
    border-bottom-right-radius: 15px;
    background-color          : #fff;
    width                     : calc(27% - 50px);
    display                   : flex;
    flex-direction            : column;
    justify-content           : flex-start;
    align-items               : center;
    transition                : all ease-in-out 0.3s;
    box-shadow                : 0 2px 6px rgba(0, 0, 0, 0.1);
}

.background-image-container {
    position   : relative;
    width      : 100%;
    padding-top: 75%;
    overflow   : hidden;
}

.background-image {
    position           : absolute;
    top                : 0;
    left               : 0;
    width              : 100%;
    height             : 87%;
    background-size    : cover;
    background-position: center;
    transition         : transform 0.3s, opacity 0.3s;
    opacity            : 0;
}

.background-image.active {
    opacity: 1;
}

.arrow {
    position       : absolute;
    top            : 50%;
    transform      : translateY(-50%);
    background     : rgba(0, 0, 0, 0.1);
    color          : white;
    font-size      : 16px;
    width          : 20px;
    height         : 20px;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    cursor         : pointer;
    transition     : background 0.3s;
    z-index        : 2;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.arrow.prev {
    left: 10px;
}

.arrow.next {
    right: 10px;
}

.item-home-type,
.item-type-of-home,
.item-date {
    position     : absolute;
    padding      : 5px 10px;
    border-radius: 4px;
    background   : rgba(255, 255, 255, 0.5);
    color        : #353839;
    font-size    : 0.7em;
    font-weight  : bold;
    z-index      : 1;
}

.item-home-type {
    top : 10px;
    left: 10px;
}

.item-type-of-home {
    top  : 10px;
    right: 10px;
}

.item-price {
    font-family: 'Poppins', sans-serif;
    margin-top : 10px;
    font-weight: 600;
    font-size  : 19px;
    bottom     : 0px;
    margin-left: 10px;
    background : none;
    color      : #353839;
}

.item-date {
    font-size : 10px;
    bottom    : 55px;
    right     : 10px;
    background: rgba(255, 255, 255, 0.8);
    color     : #353839;
}

.item-container:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.item-container:hover .background-image {
    transform: scale(1.1);
}

.item-container img {
    padding-bottom: 20px;
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    transition    : transform 0.4s;
}

.item-container a {
    text-decoration: none;
    color          : #353839;
    display        : block;
    width          : 100%;
}

.detail-of-home {
    margin-top: -50px;
    width     : 110%;
    padding   : 0px 10px;
    background: #f5f5f5;
    color     : #353839;
    text-align: left;
    height    : 170px;
    transition: all ease-in-out 0.3s;
    box-sizing: border-box;
    position  : relative;

}

.detail-of-home .title {
    font-size    : 1em;
    margin-bottom: 5px;
    font-weight  : bold;
}

.detail-of-home .item-location {
    margin-left  : 10px;
    font-size    : 0.9em;
    color        : #353839;
    margin-bottom: 5px;
}

.detail-of-home .item-info {
    background   : #f5f5f5;
    margin-left  : 10px;
    width        : 110%;
    box-shadow   : 0 -5px 10px -5px rgba(0, 0, 0, 0.1);
    padding-top  : 15px;
    margin-top   : 25px;
    display      : flex;
    margin-bottom: 5px;

}

.detail-of-home .item-info span {
    display     : flex;
    align-items : center;
    margin-right: 70px !important;
    /* Remove margin completely */
}

.detail-of-home .item-info span i {
    margin-right: 9px;
    /* Optional : small margin between icon and text */
}



.sort-buttons {
    margin-top     : 40px;
    display        : flex;
    justify-content: center;
    gap            : 10px;
}

.sort-buttons button {
    border       : none;
    cursor       : pointer;
    padding      : 12px 18px;
    font-size    : 14px;
    font-weight  : 500;
    transition   : all ease-in-out 0.3s;
    border-radius: 4px;
}

#sort-by-date-button {
    color     : #fff;
    background: #303b97;
}

#sort-by-date-button:hover {
    background: #303b97;
}

/* Switch Button Styles */
/* Switch Button Styles */
.switch-button-group {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 10px;
    position       : relative;
}

.switch-text {
    font-size  : 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin     : 0 10px;
}

.toggle-switch {
    position: relative;

    width : 60px;
    height: 24px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position        : absolute;
    cursor          : pointer;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: #000066;
    transition      : 0.4s;
    border-radius   : 24px;
}

#no-products-message {
    width           : 250px;
    display         : none;
    margin-left     : 550px;
    text-align      : center;
    padding         : 5px;
    font-size       : 1rem;
    color           : #ff0000;
    background-color: #f9f9f9;
    border          : 2px dashed #ff0000;
    border-radius   : 10px;
    margin-top      : 70px;
}

.slider:before {
    position        : absolute;
    content         : "";
    height          : 20px;
    width           : 20px;
    left            : 1px;
    bottom          : 2px;
    background-color: white;
    transition      : 0.4s;
    border-radius   : 50%;
}

input:checked+.slider {
    background-color: #000066;
}

input:checked+.slider:before {
    transform: translateX(26px);
}




.search-sort-container {
    margin-left   : 15px;
    height        : auto;
    position      : absolute;
    margin-top    : 0px;
    width         : 280px;
    padding       : 15px;
    background    : #fff;
    text-align    : center;
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    /* Added gap between elements */
    box-shadow    : 0 0 10px rgba(0, 0, 0, 0.1);
    /* Shadow for box */
    border-radius : 8px;
    /* Rounded corners */
}

.search-sort-container h3 {
    margin       : 0;
    margin-bottom: 5px;
    color        : #353839;
    font-size    : 18px;
    font-weight  : bold;
}

.dropdown-container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 10px;
    /* Added gap between elements */
}

.filter-dropdown {
    border          : 1px solid #ddd;
    padding         : 10px;
    font-size       : 14px;
    border-radius   : 4px;
    cursor          : pointer;
    background-color: #ebebeb;
    color           : #525252;
    width           : 100%;
}

.filter-dropdown:hover {
    background-color: #303b97;
    color           : #fff;
}

.search-sort-container .search-input {
    border       : 1px solid #ddd;
    padding      : 10px;
    font-size    : 14px;
    border-radius: 4px;
    width        : 100%;
}

.search-sort-container .input-group {
    display        : flex;
    justify-content: space-between;
    gap            : 10px;
    /* Added gap between elements */
}

.input-group input {
    width        : 100%;
    border       : 1px solid #ddd;
    padding      : 10px;
    font-size    : 14px;
    border-radius: 4px;
}

.search-sort-container .search-button {
    border          : none;
    cursor          : pointer;
    padding         : 12px 18px;
    font-size       : 14px;
    font-weight     : 500;
    transition      : all ease-in-out 0.3s;
    border-radius   : 4px;
    background-color: #303b97;
    color           : #fff;
    width           : 100%;
}

.search-sort-container .search-button:hover {
    background-color: #303b97;
}

.search-sort-container a {
    color          : #303b97;
    text-decoration: none;
}

.search-sort-container a:hover {
    text-decoration: underline;
}

.item-container:hover .background-image {
    transform: scale(1.1);
}

.item-container:hover .detail-of-home {
    transform: scale(1);
}

.black-navbar #header #navbar a,
.black-navbar #header #navbar a:focus {
    color: #000066;
    /* Set the desired text color */
}

.black-navbar #header:hover {
    color: black;
}

.title {
    margin-left: 10px;
    margin-top : 10px;
}